# ========= ML =========
pandas
matplotlib
nltk
scikit-learn
sentence-transformers

# ========= CLOUD =========
azure-ai-textanalytics


# ========= TEST =========
pytest

# ========= Database =========
fastapi
sqlalchemy
uvicorn
psycopg2
python-dotenv

# ========= Security=========
bcrypt