# ========= ML =========
pandas
matplotlib
nltk
scikit-learn
sentence-transformers

# ========= CLOUD =========
azure-ai-textanalytics

# ========= TEST =========
pytest

# ========= Database =========
fastapi
sqlalchemy
uvicorn
psycopg2
python-dotenv
pydantic
python-jose
email-validator

# ========= Security=========
bcrypt


# ========= Monitoring=========
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-psycopg2
opentelemetry-exporter-otlp